<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina de Login</title>
    
    <style>
        body { font-family: Arial; background: #f2f2f2; text-align: center; padding-top: 100px; }
        form { background: white; display: inline-block; padding: 20px; border-radius: 10px; }
        input { display: block; margin: 10px auto; padding: 8px; width: 200px; }
        button { padding: 8px 16px; }
        .erro { color: red; }
    </style>

</head>
<body>
    <h1>Pagina de Login</h1>

    {% if erro %}
        <p style="color: red;">{{ erro }}</p>
    {% endif %}

    <form method="post">
        <input type="text" name="usuario" placeholder="Usuário" required>
        <input type="password" name="senha" placeholder="Senha" required>
        <button type="submit">Entrar</button>
    </form>

    <div class="link">
      <a href="{{ url_for('cadastro') }}">Não tem conta? Cadastre-se aqui!</a>
    </div>
</body>
</html>