<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Portal</title>
  <style>
    body { font-family: Arial; background: #f2f2f2; text-align: center; padding-top: 100px; }
    .box { background: white; display: inline-block; padding: 20px; border-radius: 10px; }
    a { display: block; margin: 10px; text-decoration: none; color: #0066cc; }
  </style>
</head>
<body>
  <div class="box">
    <h2>Bem-vindo, {{ usuario }}</h2>
    <p>Escolha um dos sites abaixo:</p>
    <a href="{{ url_for('main.pagina1') }}" target="_blank">Pagina1</a>
    <a href="{{ url_for('main.pagina2') }}" target="_blank">pagina2</a>
    <a href="{{ url_for('main.pagina3') }}" target="_blank">pagina3</a> 
    <p><a href="{{ url_for('auth.logout') }}">Sair</a></p>
  </div>
</body>
</html>